html, body {
  height: 100%;
  width: 100%;
}

body{
  background-image: url(img/LogoRica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

h1{
  text-align: center;
  font-family: cursive;
}

img{
  display: block;
  margin: auto;
}

.contenedor-logo {
  border-top: 100px solid transparent;
  width: 80%;
  max-width: 300px;
}

.logo-rebote {
  width: 50px;
  animation: rebote 1s ease-out;
}

@keyframes rebote {
  0%   { transform: translateY(-100px); }
  30%  { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  70%  { transform: translateY(0); }
  85%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

